<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>

    <h1>Create new message</h1>

    <form method="POST" action="/new">
        <label for="user">User</label>
        <input type="text" id="user" name="user" required>
        <label for="message">Enter Message</label>
        <input type="text" id="message" name="message" required>
        <button>Submit</button>
    </form>
    
</body>
</html>